.list-item {
  list-style: none;
}

.list-item-description {
    font-style: italic;
    color: grey;
}

.text-centered {
    text-align: center;
}

.container-list .container-list-item {
    color: #3c3c3c;
    list-style: none;
}

.container-list .container-list-item::before {
    content: "\25AE";
    font-size: 1em;
    padding-right: 1.1225em;
    position: relative;
    top: 0em;
}

.list-right-align {
    float: right;
}

.centered {
    text-align: center;
}
